<div class="card-header">
  <div class="row">
    <div class="col-2">
    <%=link_to todo_lists_path, class:"btn btn-secondary" do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
</div>   
    <div class="col-10">
      <div class="d-flex justify-content-between">
        <div>
        <h5 class='m-0'>
          <b><%= @todo_list.title %></b> 
          </h5>
        <p class='text-secondary m-0'><small>
        <%= @todo_list.percent_completed %>% Complete 
        (<%= @todo_list.completed_items %>/<%= @todo_list.total_items %> To do items) 
        </small></p>
      </div>
    <div>
      <%= link_to 'Edit', edit_todo_list_path(@todo_list), class:"btn btn-sm btn-info text-light"%>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card-body">
  <div class="progress mb-1" style="height: 10px;">
    <div class="progress-bar bg-info" role="progressbar" style="width: <%= @todo_list.percent_completed %>%" aria-valuenow="<%=@todo_list.percent_completed%>" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div> 
</div>

<div class="card-body">
  <%= form_for([@todo_list, @todo_item]) do |f| %>
      <div class="input-group mb-1">
      <%= f.text_field :description, class: 'form-control', placeholder:'Add new item to do!'%>
        <div class="input-group-append">
          <%= f.submit "Add", class:"btn btn-info text-light input-group-btn"%>
        </div> 
      </div>
  <% end %>
</div>
<div class="card-body">
  <ul class="list-group">
      <% @todo_list.todo_items.each do |todo_item| %>
        <% if todo_item.completed? %>
          <li class="list-group-item bg-light">
            <div class="d-flex justify-content-between">
              <span class="text-muted">
                <em><i><%= todo_item.description %><em><i>
              </span>
                <%=link_to "#", class:'btn btn-secondary btn-sm', data: { reflex: 'click->TodoItem#mark_incomplete', id: todo_item.id } do %>
                  <i class="fa fa-undo text-light"></i>
                <% end %>   
            </div>   
          </li>
        <% else %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span>
                <%= todo_item.description %>
              </span>
              <%=link_to "#", class:'btn btn-info btn-sm', data: { reflex: 'click->TodoItem#mark_complete', id: todo_item.id } do %>
                <i class="fa fa-check text-light"> </i>
              <% end %> 
            </div>  
         </li>
        <% end %>
      <% end %>
  </ul>
</div class="card-body">



